doctype html
html
  head
    title Continuous Bench
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/caustic.js')
    script(src='/javascripts/superagent.js')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/d3.layout.js')
    script(src='/javascripts/d3.stack.js')
    script(src='/javascripts/main.js')
    - if (locals.javascript)
      script!= javascript
  body
    #content!= body
  
  include templates/dialog