h1 
  span.user=user
  em /
  span.project= project

#commit
  form(method='post', action='/#{user}/#{project}/benchmark')
    input(type='text', name='commit', placeholder='Commit')
    input(type='submit', value='Go')

#chart