
padding = 10px
radius = 10px

.dialog
  position: relative
  z-index: 10
  display: inline-block
  border-radius: radius
  font-size: 13px
  box-shadow: 0 1px 8px 0 rgba(black, .8)
  background: white
  h2
    margin: 0
    font-size: 15px
    font-weight: bold
    border-bottom: 1px solid border-color
    padding: padding
  .close
    absolute: top 5px right 7px
    font-size: 10px
    color: inherit
  .content
    padding: 0 15px
    min-width: 200px
  .actions
    padding: padding
    text-align: right
    background: light
    border-radius: bottom radius
    background: dark linear-gradient(top, lighten(dark, 10%), dark)
