
padding = 10px

.dialog
  display: inline-block
  border: 1px solid border-color
  border-radius: radius
  font-size: 13px
  box-shadow: 0 0 4px shadow
  h2
    margin: 0
    font-size: 15px
    font-weight: bold
    border-bottom: 1px solid border-color
    padding: padding
  .content
    padding: 0 15px
    min-width: 200px
  .actions
    padding: padding
    text-align: right
    background: light
