
body
  padding: 50px
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif
  background: linear-gradient(top, #2D2D30, #101011)
  color: white

h1, h2, h3
  letter-spacing: 1px
  font-weight: normal

a
  color: #00B7FF

#actions
  margin: 25px 0

