
@import 'mixins'

dark = #1D1D1D

body
  padding: 50px
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif
  background: linear-gradient(top, #fff, #f2f2f2)
  color: dark

h1, h2, h3
  letter-spacing: 1px
  font-weight: normal

a
  color: #00B7FF

#commit
  margin: 25px 0

h1
  font-smoothing: antialiased
  em
    padding: 0 5px
    color: #ddd
  .project
    color: #888

@import 'forms'